version: "3"

services:
  postgres:
    image: postgres
    container_name: postgres
    environment:
      POSTGRES_DB: npb-analysis
      POSTGRES_USER: npb-analysis
      POSTGRES_PASSWORD: postgres
    ports:
      - 5555:5432
  postgres-gui:
    container_name: pgweb
    restart: always
    image: sosedoff/pgweb
    ports: 
      - "8080:8081"
    environment:
      - DATABASE_URL=postgres://npb-analysis:postgres@postgres:5432/npb-analysis?sslmode=disable
    depends_on:
      - postgres